body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*For App.css*/
.App-container {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2e4053;
}

/*InputField*/
.input-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 20px; 
}


.input-container input {
    width: 100%; 
    max-width: 800px; 
    height: 60px; 
    font-size: 1.2rem; 
    border: 2px solid #ccc;
    border-radius: 8px; 
    text-align: center;
    padding: 5px;
    outline: none;
    margin: 0 auto; 
}
/* Responsive adjustments for grids (for tablets)*/
@media (max-width: 768px) {
    .standard-grid, .advanced-grid {
        grid-template-columns: repeat(4, 1fr); 
        margin: 10px auto; 
    }

    .button, .advanced-button {
        width: 70px; 
        height: 70px; 
        font-size: 1.2rem; 
    }

    .input-container input {
        max-width: 90%; 
        font-size: 1rem; 
    }

    .App-container {
        width: 90%; 
        padding: 10px; 
    }
}

/* Responsive adjustments for ultra-small screens (e.g., smartphones) */
@media (max-width: 480px) {
    .standard-grid, .advanced-grid {
        grid-template-columns: repeat(4, 1fr); 
    }

    .button, .advanced-button {
        width: 60px;
        height: 60px;
        font-size: 1rem;
    }

    .App-container {
        padding: 5px; 
    }
}




