/*for Standard Component*/
.standard-container {
    text-align: center;
    margin: 20px;
}

.standard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
    
}

/* Shared button styles */
.button {
    width: 80px;
    height: 80px;
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Number buttons */
.number-button {
    background-color: #f9f9f9;
    color: black;
}

.number-button:hover {
    background-color: #007bff;
    color: white;
}

/* Function buttons */
.function-button {
    background-color: #007bff;
    color: white;
}

.function-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.function-button:active {
    background-color: #003f7f;
    transform: scale(0.95);
}
/*For Advanced Component*/
.advanced-container{
    text-align: center;
    margin: 20px;
    
}
.advanced-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    max-width: 300px;
    margin: 15px auto;

}
/* Advanced buttons */
.advanced-button {
    width: 80px; 
    height: 30px; 
    font-size: 1.2rem;
    border: none; 
    border-radius: 50px; 
    background-color: #1a1d24; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.advanced-button:hover {
    background-color: #121417; 
    transform: scale(1.05); 
}

.advanced-button:active {
    background-color: #0b0c0f; 
    transform: scale(0.95); 
}